/* Border box declaration */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* Initialization */
:root {
  --equalColor: rgb(60, 132, 60);
  --screenBgColor: rgb(51, 51, 228);

  --buttonColor: hsl(192, 100%, 9%);
  --materialEffect: hsl(208, 11%, 55%);
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}

h1.tagline {
  font-family: "Reenie Beanie", cursive;
  font-size: 3em;
  color: var(--buttonColor);
  font-weight: bold;
  text-align: center;
  margin: 0.5em 0 0.5em 0;

  text-shadow: 1px 2px 3px var(--materialEffect);
}

[class*="wrapper"] {
  background-color: var(--materialEffect);
  width: 25em;
  height: 38em;
  margin: 0 auto;

  border: 1px solid rgb(133, 133, 122);
}

.row.screen {
  width: 100%;
  font-size: 1.5em;
  background-color: var(--screenBgColor);
  height: 10em;
  padding: 1em 1em 0 0;
  /* text-align: right; */
  color: white;
}

.row {
  height: calc((38em - 15em) / 5);

  display: flex;
}

[class*="col-"] {
  width: 25%;
  height: 100%;
  background-color: white;

  text-align: center;
  line-height: 4.5;
  border-right: 1px solid rgb(133, 133, 122);
  border-bottom: 1px solid rgb(133, 133, 122);

  cursor: pointer;
  color: var(--buttonColor);
}

[class*="col-"]:focus,
[class*="col-"]:active {
  background-color: rgba(208, 208, 199, 0.047);
}

.row.first,
.col-4 {
  font-weight: bold;
}

.col-4 {
  border-right: none;
}

.col-1-3 {
  width: 50%;
}

.equal {
  height: calc(2 * (38em - 15em) / 5);
  line-height: 9;
  background-color: var(--equalColor);
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  height: 2em;
}
